body {
  background-color: rgb(241, 241, 241);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width:330px;
  width: auto !important;
  width:330px;
}

h1 {
  font-size: 50px;
  letter-spacing: 6px;
  color: rgb(255, 255, 255);
  padding-left: 10px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  margin-bottom: 0;
  font-size: 15px;
}

hr {
  width: 40%;
  margin-left: 0px;
  margin-bottom: 20px;
}

img {
  max-width: 150px;
  margin: 20px;
}

input {
  text-align: right;
  color: red;
  font-weight: 100;
}

button {
  margin-right: 10px;
}

ul { 
  padding-left:20px; 
  list-style:circle;
  margin-top: 10px;
}
li { margin-bottom: 4px; }
li:before {    
    margin:0 5px 0 -15px;
}

.chart-container {
  margin-bottom: 15px;
  margin-top: 10px;
}
.title-main{
  /* background-color: lightgray; */
  background-image: url(./data/prism.png);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgb(170, 170, 170);
}
.menu{
  margin-top: 10px;
}

.home-screen-content{
  margin-top: 50px;
}

.text-outline {
	text-shadow:
		-1px -1px 0 rgb(0, 0, 0),
		1px -1px 0 rgb(255, 255, 255),
		-1px 1px 0 rgb(255, 255, 255),
		1px 1px 0 rgb(255, 255, 255);
}

.headline-title {
  font-size: 50px;
}

.content {
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
}

.input-container {
  max-width: 450px;
}

.input-message {
  text-align: center;
  margin-bottom: 2px;
  font-weight: lighter;
  font-style: italic;
}

.input-group-text {
  min-width: 150px;
}

.input-group {
  margin-bottom: 2px !important;
}

.results {
  margin-top: 10px;
  font-size: 20px;
}

.button-wrapper {
  margin-top: 15px;
  justify-content: center;
}

::-webkit-input-placeholder { text-align:right; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}